@import "normilize";

* {
  box-sizing: border-box;
}

body {
  height: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a,
a:active,
a:hover {
  text-decoration: none;
  color: #fff;
}

$transition: 0.5s ease;

$bgColor: #ebebeb;

%proximaSemibold {
  font-family: proximaSemibold, sans-serif;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
}

%ptSansItalic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5em;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 0.5em;
}

#map {
  height: 60em;
  width: 100%;
  position: relative;
  padding: 2em 0;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #9f9acf;
    opacity: 0.6;
  }

  & * > {
    z-index: 10;
  }
}

.header {
  padding: 2em 0 30em 0;
  background: url(../img/header/Bg.png) no-repeat center top / cover;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    display: flex;
    justify-content: space-between;

    &__item {
      @extend %proximaSemibold;
    }

    a:not(:last-child) {
      padding-right: 1em;
    }
  }

  &__heading {
    font-family: proximaBold, sans-serif;
    font-size: 4em;
    color: #fff;
    text-transform: uppercase;

    padding-top: 5em;
    text-align: center;
  }

  &__slogan {
    @extend %ptSansItalic;
    color: #fff;

    text-align: center;
    padding-top: 1em;
  }
}

.about {
  padding: 5em 0;
  background-color: $bgColor;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__blockLeft {
    background: url(../img/about/DeathtoStock_Wired8.png) no-repeat center top /
      cover;
    width: 20em;
    text-align: center;
    padding: 2em 0 20em 0;
    margin-right: 1em;
  }

  &__blockRight {
    display: flex;
    flex-direction: column;

    width: 40em;
  }

  &__text {
    font-family: "PT Sans", sans-serif;
    font-size: 1.3em;
    color: #665f60;

    &:nth-child(2) {
      margin-top: 1em;
    }
  }

  &__string {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
  }

  &__btn {
    margin: 4em auto 0 auto;
    padding: 0.5em 2em;
    outline: none;
    background-color: transparent;

    @extend %ptSansItalic;
    color: #7d7a7c;
    border: 1px solid #7d7a7c;
    cursor: pointer;
  }
}

.services {
  background-color: $bgColor;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #dbdbdb;
    width: 23.4em;
    height: 23.4em;

    &--bg {
      background-color: $bgColor;
    }
  }

  &__heading {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 1.7em;
    text-transform: uppercase;
    color: #665f60;
    padding-top: 1em;
  }

  &__text {
    @extend %ptSansItalic;
    font-size: 1em;
    text-align: center;
    padding-top: 1em;
  }
}

.works {
  padding: 3em 0;
  background: url(../img/works/DeathtoStock_Wired3.png) no-repeat center top /
    cover;

  &__content {
    text-align: center;
  }

  .swiper-container {
    padding-top: 5em;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;
  }

  .swiper-pagination {
    position: relative;
    padding-top: 3em;
  }

  .swiper-pagination-bullet {
    background: transparent;
    border: 1px solid white;

    &-active {
      background: white;
    }
  }

  &__btn {
    margin: 3em auto 0 auto;
    padding: 0.5em 2em;
    outline: none;
    background-color: transparent;

    @extend %ptSansItalic;
    color: #ffffff;
    border: 1px solid #fff;
    cursor: pointer;
  }
}

.team {
  padding: 2em 0 7em 0;
  background-color: $bgColor;

  .swiper-button-next,
  .swiper-button-prev {
    color: #665f60;
    top: 64%;
  }

  &__content {
    text-align: center;
  }

  &__block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding-top: 12em;
    width: 70em;
  }

  &__item {
    background-color: white;
    width: 20em;
    position: relative;

    margin: 0 1em;
  }

  &__name {
    font-family: proximaBold, sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #9f9acf;
    text-transform: uppercase;
    padding-top: 6.5em;
  }

  &__discription {
    @extend %ptSansItalic;
    color: #665f60;
    padding-top: 1em;
  }

  &__photo {
    position: absolute;
    left: 10%;
    top: -40%;
  }

  &__footer {
    background-color: #9f9acf;
    padding: 1em 2em;
    margin-top: 2em;
  }

  &__icon {
    border-radius: 50%;
    padding: 0.2em;
  }
}

.footer {
  position: relative;
  &__content {
    position: absolute;
    text-align: center;
    padding: 2em 0;

    top: -2%;
  }

  &__home {
    display: flex;

    padding-top: 5em;
    justify-content: flex-end;
  }

  &__homeIcon {
    display: flex;
    align-items: center;

    background-color: #9f9acf;
    padding: 0.5em 1em;
  }

  &__homeIconSecond {
    background-color: #9f9acf;
    width: 4.5em;
    padding: 1em 0;

    margin-right: 0;
    margin-left: auto;
  }

  &__adress {
    background-color: rgba(218, 216, 227, 0.6);
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #665f60;
    padding: 0.5em 1em;
  }

  &__form {
    padding-top: 5em;
    width: 50em;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
  }

  &__input {
    background-color: rgba(218, 216, 227, 0.6);
    outline: none;
    border: none;
    width: 24.5em;
    padding: 1em;
    border-radius: 5px;

    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #fff;

    &:first-child {
      margin-right: 1em;
    }
  }

  &__textarea {
    background-color: rgba(218, 216, 227, 0.6);
    margin-top: 1em;
    width: 50em;
    border: none;
    padding: 1em 1em 15em 1em;
    border-radius: 5px;

    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #fff;
  }

  &__btn {
    margin: 2em auto;
    padding: 1em 2em;
    outline: none;
    border: none;
    background-color: #9f9acf;

    font-family: proximaBold, sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
  }

  &__bottom {
    display: flex;
  }

  &__topIcon {
    align-self: flex-end;
    background-color: rgba(159, 154, 207, 0.6);
    padding: 1.3em 1em;
    cursor: pointer;
  }

  &__foot {
    background-color: #9f9acf;
    padding: 2em;
  }

  &__copy {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    color: #fff;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      padding: 0.5em;
    }
  }
}

.headingh2 {
  @extend %proximaSemibold;
  font-size: 2em;
  padding-top: 1.5em;

  &--meet {
    color: #665f60;
  }
}

@font-face {
  font-family: "proximaSemibold";
  src: url(../fonts/ProximaNova-Semibold.ttf);
}

@font-face {
  font-family: "proximaBold";
  src: url(../fonts/ProximaNova-Bold.ttf);
}
